{{#link-to "editor.new" data-test-mobile-nav="new-story"}}{{svg-jar "pen"}}{{loc "New story"}}{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="active" data-test-mobile-nav="stories"}}{{svg-jar "content"}}{{loc "Stories"}}{{/link-to}}
{{else}}
    {{#link-to "posts"}}{{svg-jar "content" data-test-mobile-nav="stories"}}{{loc "Content"}}{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users" data-test-mobile-nav="team"}}{{svg-jar "account-group"}}{{loc "Team"}}{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui data-test-mobile-nav="more"}}>{{svg-jar "icon" class="icon-gh"}}{{loc "More"}}</div>
{{yield}}
