<header class="modal-header">
    <h1>{{loc "Are you sure you want to delete this"}} {{loc "post?"}}</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{loc "Close"}}</span></a>

<div class="modal-body">
    <p>
        {{loc "You're about to delete"}} "<strong>{{post.title}}</strong>". {{loc "This is permanent! We warned you, k?"}}
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{loc "Cancel"}}</span></button>
    {{gh-task-button "Delete" successText=(loc "Deleted") task=deletePost class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
