<header class="modal-header">
    <h1>{{loc "Are you sure you want to delete this"}} {{loc "tag?"}}</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{loc "Close"}}</span></a>

<div class="modal-body">
    {{#if tag.post_count}}
        <span class="red">{{loc "This tag is attached to"}} {{tag.count.posts}} {{postInflection}}.</span>
    {{/if}}
    {{loc "You're about to delete"}} "<strong>{{tag.name}}</strong>". {{loc "This is permanent! We warned you, k?"}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{loc "Cancel"}}</span></button>
    {{gh-task-button (loc "Delete") successText=(loc "Deleted") task=deleteTag class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
